/* 
#7013F2
#7B44F2
#976DF2
#BFA7F2
#F2F2F2
*/

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    color: #7013F2;
}
.foto-assis {
    width: 200px;
    border-radius: 50px;
    border: 1px solid blue;
    box-align: left;
}
.oi {
    background-color: #7013F2;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    
    color: white;
}


footer {
    text-align: center;
    background-color: rgba(255, 255, 0, 0.773);
    color: red;
    font-size: 2em;
}